.Button {
  cursor: pointer;
  border: none;
  background: transparent;
  display: flex;
  max-width: 1.1rem;
  height: 1.1rem;
  justify-content: center;
  align-items: center;
  transition: trasnform 0.6s ease-out;
  transform-origin: center;
}
.Button:hover {
  transform: scale(1.05);
}
.Button-primary {
  max-width: 3rem;
  height: 3rem;
}
/* .Button-primary:hover {
  background-color: #22a164;
} */
.Button img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
