.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222831;
}

.App-footer {
  color: #fff;
  text-align: center;
  margin: 3rem auto;
}
